html {
	font-family: Roboto;
	height: 100%;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	position: relative;
}
html,
body {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;

	color: inherit;
}
