$white: #ffffff;
$black: #000000;
$grey: #8a8989;
$dark-grey: #424242;
$red: #d10303;
$green: #13db2d;

$rate: 10px;
$rate-s: 5px;
$rate-l: 20px;
$rate-xl: 30px;

$fs: 14px;
$fs-s: 12px;
$fs-l: 16px;

$fw: 400;
$fw-bold: 600;

$transition: 0.3s ease-in-out;
